<footer>
    <div class="footer-grid">
        <div class="footer-col">
            <div class="logo">ORBIC</div>
            <p>Fortaleza, Ceará, Brasil.<br>Inovação que nasce no Nordeste para o mundo.</p>
            <div class="social-icons">
                <a href="#" class="icon-circle">In</a>
                <a href="#" class="icon-circle">Ig</a>
                <a href="#" class="icon-circle">Yt</a>
            </div>
        </div>
        <div class="footer-col">
            <h4>Serviços</h4>
            <a href="#">Intellect Lex</a>
            <a href="#">Intellect Teos</a>
            <a href="#">Consultoria SaaS</a>
            <a href="#">Hardware Custom</a>
        </div>
        <div class="footer-col">
            <h4>Orbic</h4>
            <a href="#">Sobre nós</a>
            <a href="#">Carreiras</a>
            <a href="#">Privacidade</a>
            <a href="#">Termos de Uso</a>
        </div>
        <div class="footer-col" id="contato">
            <h4>Contato</h4>
            <p>E-mail: contato@orbic.com.br</p>
            <p>Suporte: 24/7 via Hubimb</p>
            <p>Local: Fortaleza - CE</p>
        </div>
    </div>
    <div class="copyright">
        &copy; 2026 ORBIC SERVICE TECHNOLOGY. Todos os direitos reservados.
    </div>
</footer>